.navbar-container {
  background-color: var(--navy);
  .navbar-collapse .collapse .show {
    background-color: #3b89ff73;
    border-radius: 6px;
    margin-top: 20px;
    padding-left: 20px;
    padding: 5px 10px;
  }
  .navbar-toggler {
    color: var(--green);
  }
  .navbar-toggler-icon {
    background-image: url(../images/menu.png);
  }
  a {
    color: var(--lightest-slate);
    font-family: Ubuntu-M;
    font-size: 18px;
  }
  .navbar-brand {
    font-size: 24px;
  }
  .nav-item {
    color: aliceblue;
    a {
      color: var(--lightest-slate);
    }
  }
  .navbar-nav .nav-link.active,
  .navbar-nav .show > .nav-link {
    color: var(--green);
  }
}
