.projects {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--navy);


    .project-info {
        h2 {
            font-family: Ubuntu-B;
            font-size: 48px;
            color: var(--lightest-slate);
            letter-spacing: -0.5px;
        }

        p {
            color: var(--slate);
            line-height: 1.6;
            font-family: Ubuntu-M
        }

        img {
            width: 36px;
            color: white;
            border-radius: 10px;
            padding: 0;
            margin: 0;
        }

        @media screen and (max-width:768px) {
            h2 {
                font-family: Ubuntu-M;
                font-size: 36px;
                color: var(--lightest-slate);
                letter-spacing: -0.5px;
            }

            p {
                color: var(--slate);
                line-height: 1.6;
                font-family: Ubuntu-R;
                font-size: 16px;
            }

            img {
                margin-top: 10px;
                margin-bottom: 20px;
                width: 30px;
            }
        }
    }

    .project-image {
        img {
            width: 100%;
            text-align: center;
            border-radius: 10px;
            transition: transform 0.5s;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            &:hover {
                transform: rotate(180deg)
            }
        }

    }
}