@font-face {
    font-family: Ubuntu-R;
    src: url(/src/assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Ubuntu-L;
    src: url(/src/assets/fonts/Ubuntu-Light.ttf);
}

@font-face {
    font-family: Ubuntu-M;
    src: url(/src/assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Ubuntu-B;
    src: url(/src/assets/fonts/Ubuntu-Bold.ttf);
}