* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

ul li {
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 20px;
}


::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #0A192F, #0A192F);
    border-radius: 1px;
}